/* GENERAL*/


body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* input,
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
} */

/* LANDING CLASS*/

.home-outer {
	display: flex;
	position: relative;
	top: 3.5rem;
	max-width: 400vh;
	max-height: 400vh;
	width: 100%;
	height: 100%;
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	background-color: black;
	align-content: center;
	overflow-y: overlay;
}

.home-inner {
	position: relative;
	top: 12rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	align-content: center;
}
