/* body {
	background-image: url('https://i.pinimg.com/564x/88/e7/a2/88e7a2820aacb939846e8173dd6b27e2.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

.welcome-outer {
	display: flex;
	max-height: 950px;
	background-image:
	 url('https://i.pinimg.com/564x/f0/e4/16/f0e416b21fdb19644eabb71b7ab3a0c0.jpg');;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	position: relative;
	top: 8rem;
	width: 100%;
	height: 100%;
}

.welcome-main {
	 background-image: url('https://i.pinimg.com/564x/f0/e4/16/f0e416b21fdb19644eabb71b7ab3a0c0.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	height: 100%;
} */
