.space-ator {
	position: relative;
}





.outer-home {
	/* background-image: ('../../images/animetreeriv.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
}

.inner-home {}

.task-section {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
}
