#modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

#modal-background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
	position: absolute;
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 1rem;
	margin: 0.5rem;
	z-index: 10;
	max-width: 50%;
	max-height: 80%;
	width: fit-content;
	height: fit-content;
}

#modal-content>form {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#modal-content>form>button {
	margin-top: 20px;
	width: 50%;
	padding: 4px 8px;

}
