/* ? imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/* *LOADING */
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	border: 5px solid #00BFFF;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* *MAIN */
html, body {
	font-family: 'Roboto Mono', 'Roboto Slab', 'Roboto Serif', 'monospace', 'serif'
}
html {
	background-image:
		/* url('https://i.pinimg.com/564x/71/23/74/71237438c371280321e47ade4d63e675.jpg'); */
		/* url('https://i.pinimg.com/564x/eb/1b/07/eb1b07a02ab31c1490d584358d2afc05.jpg'); */
		url('https://i.pinimg.com/564x/c3/40/1d/c3401dba7c79f5728bcff894966ec90e.jpg');
	/* url('https://i.pinimg.com/564x/08/d0/d5/08d0d546b8bf417f730e33b85f3049a1.jpg'); */
	/* url('https://i.pinimg.com/736x/18/e2/f3/18e2f385b896bac2b3e2270fa2116e85.jpg') */
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: overlay;
	height: max-content;
	width: 100%;
	height: 100%;
	max-height: 300vh;
}

body {
	margin: 0 auto;
	width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: scroll;
	height: 100vh;
	background-clip: text;
	font-size: 1rem;
}

div#root {
	margin: 0 auto;
	max-height: 300vh;
	overflow-x: clip;
	width: 100%;
	height: 100%;
}

/* HEADERS */
h4 {
	margin: 2%;
}


/* *PAGE DIVS */
.ext {
	width: 100%;
	display: flex;
	max-height: 100%;
	position: relative;
	top: 12rem;
	z-index: 1;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	/* overflow-y: clip; */
	overflow-x: clip;
	justify-content: space-evenly;
	margin-bottom: 10%;
	height: 100vh;
}

/* *ERROR HANDLING */
.p-error {
	color: red;
	font-size: 12px;
	width: max-content;
	margin: 0 auto;
}

.demoPage.stf__item.--soft.--right:before {
	background: transparent;
}

.demoPage.stf__item.--soft.--right:hover {
	cursor: pointer;
	/* background: linear-gradient(45deg,
			#ff0000,
			#ff7300,
			#fffb00,
			#48ff00,
			#00ffd5,
			#002bff,
			#7a00ff,
			#ff00c8,
			#ff0000); */
	background: transparent;
	/* position: absolute; */
	position: relative;
	/* top: 5rem; */
	/* left: -2px; */
	/* background-size: 400%;
	z-index: -1;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px; */
}

@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.stf__parent {
	min-width: 600px;
	min-height: 800px;
	width: 100%;
	/* max-width: 1200px; */
	display: block;
	position: relative;
	/* top: 2.5rem; */
}

.demoPage.stf__item.--soft.--right.--simple {
	top: 0rem;
}

.stf__block {
	/* top: 5rem; */

}

.demoPage.stf__item {
	position: relative;
	top: 0rem;
}

/* OTHER */
.caption {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	font-family: 'Space Grotesk', 'Roboto Serif', sans-serif, serif;
	border: 1px solid #1d754c;
	border-radius: 15px;
	background-color: #FEF2D4;
	color: #1d754c;
	padding: 2px 8px;
	font-size: small;
	font-style: italic;
	width: min-content;
	text-align: center;
}

/* BUTTON */

button {
	cursor: pointer;
	box-shadow: none;
	padding: 8px 18px;
	font-size: 16px;
	appearance: none;
	border: 2px solid #1d754c;
	border-radius: 15px;
	box-sizing: border-box;
	/* opacity: 1; */
	color: #9e9e9e;
	display: inline-block;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
	line-height: normal;
	margin: 0;
	min-height: 45px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;
	margin-top: 15%;

	box-shadow: -10px -10px 30px 0, 10px 10px 30px 0 #e260ce8a;
	font-size: 1rem;
	position: relative;
	text-align: left;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: pre;
	width: max-content;
	word-break: normal;
	word-spacing: normal;
}

/* * DISABLED */
*:disabled {
	background-color: dimgrey;
	color: linen;
	opacity: 1;
	box-shadow: none;
	border: 4px solid darkgray;
	padding: 8px 18px;
	font-size: 16px;
	/* CSS */
	appearance: none;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #9e9e9e;
	display: inline-block;
	font-family: 'Space Grotesk', sans-serif;
	/* font-size: 16px; */
	font-weight: 400;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;
	pointer-events: none;
}


/* *LABELS */
label {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2px;
}

/* *BUTTONS */


/* CSS */
button:hover {
	border: 2px solid #597098;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 15px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button:hover::before {
	content: "";
	background: linear-gradient(45deg,
			#ff0000,
			#ff7300,
			#fffb00,
			#48ff00,
			#00ffd5,
			#002bff,
			#7a00ff,
			#ff00c8,
			#ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	border: 2px solid #597098;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	/* border-radius: 10px; */
}

@keyframes glowing-button {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

button:hover::after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #3d3c3c;
	left: 0;
	top: 0;
	border-radius: 10px;
}
