.outer-cart {
	display: flex;
	max-width: 300px;
}

.inner-cart {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	align-content: center;
	align-items: center;
}

.in-the-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: lightsteelblue;
	width: 100%;
	padding: 5px;
	align-content: center;
}

.basket {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.cart-items {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.cart-item-quantity {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: flex-end;
	font-size: smaller;
}

.cart-item-quantity>p:last-child {
	color: red;
	margin-left: 4px;
}

.fill-price {
	display: flex;
}

.fill-price>div:last-child {
	margin-left: 4px;
	color: goldenrod;
	font-weight: bold;
}

.label-price {
	text-decoration: underline;
}

.render-button {
	display: flex;
	width: 100%;
	align-items: stretch;
	flex-direction: column;
}

button.basket-buy {
	margin-top: 10%;
}
