.outer-cart {
	display: flex;
	width: 375px;
	/* width: fit-content; */
	overflow-y: scroll;
	overflow-x: clip;
	height: 500px;
	flex-direction: column;
}

.inner-cart {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	align-content: center;
	align-items: center;
}

.in-the-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: #4caf8e54;
	width: 100%;
	padding: 5px;
	align-content: center;
	border-radius: 2%;
}

.basket {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 50%;
	margin-bottom: 5%;
}

.basket>button {
	padding: 8px 12px;
	margin-top: 5%;
}

.basket {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-items {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.cart-item-quantity {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: flex-end;
	font-size: 10px;
}

.cart-item-quantity>p:last-child {
	color: red;
	margin-left: 4px;
}

.fill-price {
	display: flex;
}

.fill-price>div:last-child {
	margin-left: 4px;
	color: goldenrod;
	font-weight: bold;
}

.label-price {
	text-decoration: underline;
}

.render-button {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

button.basket-buy {
	margin-top: 5%;
	min-height: none;
}
