.outer-shop-container {}

.inner-shop-container {
	margin-top: 3%;
	padding: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.shopping-cart {
	color: springgreen;
	position: fixed;
	top: 14rem;
	right: 2rem;
}

.shopping-cart:hover {
	cursor: pointer;
}

.shopping-cart>li>div>.fa-cart-plus {
	font-size: 30px;
}

.numberItems {
	background-color: red;
	color: black;
}

.main-shop {
	display: flex;
	width: 85%;
	height: 85%;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	background-color: #42B8C1;
	justify-content: space-between;
	padding: 10px 5%;
}

ul.sd-shop {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
}

.sd-shop>li {
	list-style: none;
	height: 37px;
}

.shop-img:hover {
	cursor: pointer;
}

.ul.sd-shop {
	width: 25%;
}
