.outer-task-container {
	width: 100%;
	height: 100%;
	display: flex;
}

.inner-task-container {
	display: flex;
	width: 100%;
	height: 80%;
	padding: 10px;
	margin: 10px;
	color: white;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

}

.avatar-nav {}


.task-add-task>li.modal-menu-item {
	border: 2px solid black;
	padding: 8px 4px;
	background-color: #42B8C1;
}

.task-add-task>li.modal-menu-item:hover {
	cursor: pointer;
}

.all-task-container {
	display: flex;
	/* max-height: 400px; */
	justify-content: center;
	flex-direction: column;
	padding: 5px;
	margin: 15px 5px;
	width: fit-content;
}

.task-add-task {
	align-self: flex-end;
	max-width: 100%;
	width: fit-content;
}

.at-tasks {
	border: 2px solid black;
	border-radius: 15px;
	max-height: min-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	background-color: #a8bdd9f2;
	width: 220px;
	height: 110px;
	justify-content: space-between;
}

.at-tasks>li:hover {
	cursor: pointer;
}

.task-div {
	display: flex;
	flex-direction: column;
	width: 55%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.task-div>li {
	text-align: center;
}

.task-div>li:last-child:hover {
	color: crimson;
}


.task-mark {
	display: flex;
	width: 20%;
	align-items: center;
	flex-direction: column;
	/* border-left: 1px black solid; */
	height: 100%;
	justify-content: center;
}

.task-mark.complete {
	border-right: 2px black solid;
}

.task-mark.incomplete {
	border-left: 2px black solid;
}

.task-mark.complete>.fa-solid:hover {
	color: springgreen;
	cursor: pointer;
}

.task-mark.incomplete>.fa-solid:hover {
	color: red;
	cursor: pointer;
}

.no-task-no-class {
	display: flex;
	/* border: 2px solid black; */
	padding: 15% 25%;
	width: 350px;
	align-self: center;
	font-size: 36px;
}
