.task-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 365px;
}

.task-container>h4 {
	margin: 8px 4px;
}

.debrief {
	font-style: oblique;
	width: 100%;
	font-size: 12px;
	text-align: left;
	margin-bottom: 12px;
	color: #42B8C1;
}

.title-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 250px;
}

.notes-container {
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
	align-items: center;
	width: 250px;
	margin-bottom: 10px;
}

.notes {
	text-align: center;
	margin: 0px 20px;
}

div.notes>form>button {
	margin-top: 5%;
	margin-bottom: 0%;
	padding: 8px 11px;
}

.diff-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.task-container>li.modal-menu-item {
	border: 2px solid black;
	width: fit-content;
	padding: 4px 8px;
}

li.modal-menu-item:hover {
	cursor: pointer;
}

.task-container>.notes-container>.notes>div:first-child {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}


.dueDate-label {
	display: flex;
}

button.delete-task-button {
	padding: 8px 11px;
	box-shadow: 2px 2px 18px -5px #60a1e28a;
	margin-top: 5%;
	margin-bottom: 0%;

}

i.fa-solid.fa-trash {
	color: red;
}

/* CHECKLIST SECTION */
div.checklist {
	display: flex;
}

.checklist-ind>label {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2px;
	flex-wrap: wrap;
	justify-content: center;
}
