.outer-task-container {
	top: 0;
	position: absolute;
	padding: 10px;
	margin: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: stretch;
	align-items: stretch;
}

.inner-task-container {
	display: flex;
	width: 100%;
	height: 100%;
	color: white;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;

}


.all-task-ul {
	display: flex;
	list-style: none;
	gap: 25px;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.all-task-li {
	border: 1px solid black;
	padding: 5px;
}

/* task details */
.at-tasks {
	border: 2px solid black;
	max-height: min-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	background-color: teal;
}

.all-task-label {
	font-weight: 600;
	color: pink;
}

.all-task-fill {}

.all-task-checklist {
	display: flex;
}

.all-task-yes-cl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.all-task-fill.at-cl-li {
	display: flex;
}
