/* general */



/* skeleton */
.yes-session-outer-container {
	display: flex;
}

.yes-session-inner-container {
	display: flex;
}

.no-session-outer-container {}

.no-session-inner-container {}


.nav-main-outer {
	display: flex;
	width: 100%;
	background-color: #1b7cac;
	position: fixed
}

.nav-main-inner {
	display: flex;
	width: 100%;
	margin: -0.5rem;
	flex-wrap: wrap;
	padding: 4px;
	position: relative;
	z-index: 5;
}

.nav-main-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav-main-list>li {
	list-style: none
}

.nav-home {
	list-style: none;
}


/* button and links*/
.yes-user-nav {
	text-decoration: none;
}

/* *OPEN MODAL MENU STYLING */
li.modal-menu-item {
	list-style: none;
}
