/* *general */





/* *profile */
.outer-profile-container {
	display: flex;
	height: 20px;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	top: 0rem;
	left: 4rem;
}

.inner-profile-container {
	display: flex;
	width: 100%;
	/* height: min-content; */
	height: 40px;
	list-style: none;
	align-content: flex-end;
	align-items: center;
}

.profile-container {
	display: flex;
	width: 0%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
}

.inner-profile-container>ul {
	list-style: none;
}

ul.profile-dropdownlogin {
	display: flex;
	position: relative;
	padding: 8% 15%;
	flex-direction: column;
	width: 100%;
	/* width: 100px; */
	/* width: fit-content; */
	padding-left: 0px;
	flex-wrap: wrap;
	background-color: skyblue;
	z-index: 1;
	right: 6.5rem;
	justify-content: center;
	top: 7rem;
}

ul.profile-dropdown {
	display: flex;
	position: relative;
	padding: 8% 15%;
	flex-direction: column;
	width: 100%;
	/* width: 100px; */
	/* width: fit-content; */
	padding: 10% 11%;
	flex-wrap: wrap;
	background-color: skyblue;
	z-index: 1;
	right: 4.5rem;
	justify-content: center;
	top: 3.2rem;
}

.only-login {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
}

ul.profile-dropdown>li:hover {
	cursor: pointer;
	/* background-color: #fcc000e3; */
	/* transform: translate(-1px, -2px); */
	/* border: 4px solid #4caf63;
	box-shadow: 3px 0px 12px 6px #1ee9a2;
	color: lavenderblush; */

}

ul.profile-dropdown>li:active {
	/* background-color: #fcc000e3; */
	/* box-shadow: 2px 0px 10px 7px #F44336;
	border: 3px solid #FF5722;
	color: palevioletred; */
}

.profile-dropdown {
	list-style: none;
}

button.button-profile-dropdown {
	padding: 2px 8px;
	margin: 8%;
	font-size: 18px;
	background-color: transparent;
	border: none;
}

button.button-profile-dropdown:hover {
	cursor: pointer;
	color: lightblue;
}

ul.profile-dropdownlogin>li:hover {
	cursor: pointer;
	/* background-color: #fcc000e3; */
	/* transform: translate(-1px, -2px); */
	/* border: 4px solid #4caf63;
	box-shadow: 3px 0px 12px 6px #1ee9a2;
	color: lavenderblush; */

}

ul.profile-dropdownlogin>li:active {
	/* background-color: #fcc000e3; */
	/* box-shadow: 2px 0px 10px 7px #F44336;
	border: 3px solid #FF5722;
	color: palevioletred; */
}

.profile-dropdownlogin {
	list-style: none;
}

button.button-profile-dropdownlogin {
	padding: 2px 8px;
	margin: 8%;
	font-size: 18px;
	background-color: transparent;
	border: none;
}

button.button-profile-dropdownlogin:hover {
	cursor: pointer;
	color: lightblue;
}

button.button-profile-dropdown>ul.profile-dropdownlogin {
	width: 100px;
	display: flex;
}

button.button-profile-dropdown:after {
	background: transparent;
}

button.button-profile-dropdown {
	font-size: 8px;
}

/* *HIDDEN ELEMENTS */

ul.profile-dropdownhidden {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 45px;
	list-style-type: none;
	overflow: hidden;
	visibility: collapse;
}

ul.profile-dropdownhiddenlogin {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 45px;
	list-style-type: none;
	overflow: hidden;
	visibility: collapse;
}

ul.profile-dropdownlogin {
	display: flex;
	position: relative;
	padding: 8% 15%;
	flex-direction: column;
	max-width: 400px;
	width: 200px;
	/* width: fit-content; */
	padding-left: 0px;
	flex-wrap: wrap;
	background-color: skyblue;
	z-index: 8;
	right: 6.5rem;
	justify-content: center;
	top: 7rem;
}

ul.profile-dropdownlogin>.only-login>li {
	border: none;
	box-shadow: none;
	margin: 2px 4px;
	padding: 2px 8px;
	width: 90%;
}

ul.profile-dropdown>li:hover {
	border: none;
	box-shadow: none;
	background-color: #d8c5bfed;
}

ul.profile-dropdownlogin>li:hover {
	border: none;
	box-shadow: none;
	background-color: #d8c5bfed;
}

hr.hr-profile {
	color: black;
	height: 1px;
	width: 100%;
}

li.profile_dropdown_logout {
	display: flex;
	width: 100%;
	justify-content: center;
}

li.profile_dropdown_name {}

li.profile_dropdown_name:hover {}
